# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Coverage directory used by tools like istanbul
coverage

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea
*.code-workspace

# Local env files
.env
.env.*
!.env.example
